.singer_wrapper
  position: fixed;
  width: 100%;
  top: 45px;
  bottom: 0;
  overflow: hidden;
  .singer_container
    height: 100%;
    overflow-y: auto;

.list-group
  padding-bottom: 30px
  .list-group-title
    height: 30px
    line-height: 30px
    padding-left: 20px
    font-size: 14px
    color: hsla(0,0%,100%,.5)
    background: #333
  .list-group-item
    display: flex
    align-items: center
    padding: 20px 0 0 30px
    .avatar
      width: 50px
      height: 50px
      border-radius: 50%
    .name
      margin-left: 20px
      color: hsla(0,0%,100%,.5)
      font-size: 14px